.App {
  text-align: center;
}
h1{
  display: flex;
  font-family: 'BIZ UDGothic', sans-serif;
  
  
}


#wrapper{
  background-color: #ccd5ae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  
}

#quote-box {
  background-color: #fefae0;
  border-radius: 10px;
  margin: 130px;
  padding: 20px;
  max-width: 700px;
  min-width: 300px;
}

#text {
  font-size: 1.5rem;
}

#author {
  text-align: end;
  margin: 30px 0;
}

#tweet-quote {
  float: right;
}

#new-quote{
  float: left;
}

.btn {
  font-family: 'Quicksand', sans-serif;
}